<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="com.oby.cordova.plugin.backgeoonalarm"
        version="0.1.0">

    <engines>
        <engine name="cordova" version=">3.0.0" />
    </engines>

    <name>backgeoonalarm</name>
    <description>A hello-world plugin</description>
    <author>LABYT Nicolas</author>
    <keywords>foo,bar</keywords>



    <js-module src="www/backgeoonalarm.js" name="backgeoonalarm">
        <clobbers target="plugin.backgeoonalarm" />
    </js-module>

    <!-- Android -->
    <platform name="android">

        <!-- no dependancy's tag - all is in java.. -->

        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Backgeoonalarm" >
                <param name="android-package" value="com.oby.cordova.plugin.Backgeoonalarm"/>
            </feature>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- receiver for AlarmManager -->
            <receiver android:name="com.oby.cordova.plugin.AlarmReceiver" android:exported="false" />

            <!-- receiver for boot android device -->
            <receiver android:name="com.oby.cordova.plugin.RestoreReceiver" android:exported="false" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <service android:name="com.oby.cordova.plugin.Backservice" android:enabled="true" android:exported="true"></service>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
            <!-- permissions for the service -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
            <uses-permission android:name="android.permission.ACCESS_GPS" />  
            <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" /> 

            <uses-permission android:name="android.permission.LOCATION" />
        </config-file>

        <!-- copy png notif img to directory -->
        <source-file src="src/android/notification.png" target-dir="res/drawable" />
        <!-- copy java files in directory -->
        <source-file src="src/android/Backgeoonalarm.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/AlarmReceiver.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/RestoreReceiver.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/Backservice.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/Sqlitelocation.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/Customlocation.java" target-dir="src/com/oby/cordova/plugin" />
        <source-file src="src/android/Httprequests.java" target-dir="src/com/oby/cordova/plugin" />




    </platform>
</plugin>
